<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project</title>
</head>
<body>
    <aside id="leftsidebar">
        <nav id="nav">
            <ul>
                {% block sidenav %}
                    <li>Create</li>
                    <li>Update</li>
                    <li>Delete</li>
                {% endblock sidenav %}
                <li><a href="/contact">Contact Us</a></li>
            <li><a href="quote/">Get a Quote</a></li>
            </ul>
        </nav>
    </aside>
    hello
</body>
</html>